<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">

    <link href="css/reset.css" rel="stylesheet" />
    <link href="css/960_24_col.css" rel="stylesheet" />
    <link href="css/text.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/style.css" />

    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

    <title>Tech Addict Blog </title>
</head>

<body id="content">

    <header>
        <h1> Tech Addict Blog </h1>
        <nav>
            <ul>
                <li>
                    <a href="#">HOME</a>
                </li>
                <li>
                    <a href="#">ABOUT</a>
                </li>
                <li>
                    <a href="#">PORTFOLIO</a>
                </li>
                <li>
                    <a href="#">BLOG</a>
                </li>
                <li>
                    <a href="#">CONTACT</a>
                </li>
            </ul>
        </nav>

        <menu>
            <ul id="headSocial">
                <li>
                    <a href="#">
<!--                         <img src="img/icons/facebook.png" alt="Facebook" /> -->
                      <img src="http://lorempixum.com/40/40" alt="Facebook" />
                    </a>
                </li>
                <li>
                    <a href="#">
<!--                         <img src="img/icons/dribble.png" alt="Dribble" /> -->
                        <img src="http://lorempixum.com/40/40" alt="Dribble" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="http://lorempixum.com/40/40" alt="Twitter" />
<!--                         <img src="imgs/icons/twitter.png" alt="Twitter" /> -->
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="http://lorempixum.com/40/40" alt="Flickr" />
<!--                         <img src="imgs/icons/flickr.png" alt="Flickr" /> -->
                    </a>
                </li>
            </ul>
        </menu>

        <form action="" method="get">
            <p>
                Search: <input type="text" name="search" value="" id="search" placeholder="Search"/>
            </p>
        </form>
    </header>

    <div id="banner-wrap">
        <div id="banner">
            <h2> WELCOME TO MY SITE </h2>
            <div id="featured">
              <img src="http://lorempixum.com/800/200/technics" alt="Featured" />
              <img src="http://lorempixum.com/800/200/technics" alt="Featured2" />
<!--                 <img src="img/featuredImg1.jpg" alt="Featured" /> -->
<!--                 <img src="img/featureImg2.jpg" alt="Featured" /> -->
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque viverra orci, sed pretium odio accumsan eget. Etiam lacinia, magna nec aliquet.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque viverra orci, sed pretium odio accumsan eget. Etiam lacinia, magna nec aliquet.</p>

            <button> Learn More </button>
            <button> Our Work </button>
        </div>

        <p id="breadcrumbs">You're here: <a href="#">Home</a> > <a href="#"> Welcome </a> </p>

    </div> <!-- end banner-wrap -->

    <div id="main">
        <div id="primary">
            <h3> From the Blog</h3>
            <article>
                <h2>
                    <a href="#"> Blog Post Name Here</a>
                    <h6> August 4th, 2011 | <a href="#">10 Comments</a></h6>
                    <img src="http://lorempixum.com/600/200/technics" alt="Blog Post Title" />
<!--                     <img src="post-image.jpg" alt="Blog Post Title" /> -->
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque viverra orci, sed pretium odio accumsan eget. Etiam lacinia, magna nec aliquet. <href="#"> Continue Reading </a> </p> 
                </h2>
            </article>

            <article>
                <h2>
                    <a href="#"> Blog Post Name Here</a>
                    <h6> August 4th, 2011 | <a href="#">10 Comments</a></h6>
                    <img src="http://lorempixum.com/600/200/technics" alt="Blog Post Title" />
<!--                     <img src="post-image.jpg" alt="Blog Post Title" /> -->
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque viverra orci, sed pretium odio accumsan eget. Etiam lacinia, magna nec aliquet. <href="#"> Continue Reading </a> </p> 
                </h2>
            </article>

            <article>
                <h2>
                    <a href="#"> Blog Post Name Here</a>
                    <h6> August 4th, 2011 | <a href="#">10 Comments</a></h6>
                    <img src="http://lorempixum.com/600/200/technics" alt="Blog Post Title" />
<!--                     <img src="post-image.jpg" alt="Blog Post Title" /> -->
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque viverra orci, sed pretium odio accumsan eget. Etiam lacinia, magna nec aliquet. <href="#"> Continue Reading </a> </p> 
                </h2>
            </article>

            <button> The Blog </button>
        </div>
        <aside>
           <ul id="tabHeadings">
               <li>
                   <a href="#comments">Comments</a>
               </li>
               <li>
                   <a href="#categories">Categories</a>
               </li>
               <li>
                   <a href="#archives">Archives</a>
               </li>
           </ul>

            <ul id="comments">
                <ul>
                    <li>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque viverra orci, sed pretium odio accumsan eget. Etiam lacinia, magna nec aliquet.</p>
                        <h6>POSTED BY: <a href="#">Someone</a> </h6>
                    </li>

                    <li>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque viverra orci, sed pretium odio accumsan eget. Etiam lacinia, magna nec aliquet.</p>
                        <h6>POSTED BY: <a href="#">Someone</a> </h6>
                    </li>
                </ul>
            </ul>

            <h4> Categories </h4>
            <ul id="categories">
                <li>
                    <a href="#">Category</a>
                </li>
                <li>
                    <a href="#">Category</a>
                </li>
                <li>
                    <a href="#">Category</a>
                </li>
                <li>
                    <a href="#">Category</a>
                </li>
                <li>
                    <a href="#">Category</a>
                </li>
                <li>
                    <a href="#">Category</a>
                </li>
            </ul>

            <h4>Archives</h4>
            <ul id="archives">
                <li>
                    <a href="#">Archive</a>
                </li>
                <li>
                    <a href="#">Archive</a>
                </li>
                <li>
                    <a href="#">Archive</a>
                </li>
                <li>
                    <a href="#">Archive</a>
                </li>
                <li>
                    <a href="#">Archive</a>
                </li>
                <li>
                    <a href="#">Archive</a>
                </li>
            </ul>

            <section>
                <h3>Who I am </h3>
                <img src="http://lorempixum.com/400/200/nightlife" alt="Who I Am" />
<!--                 <img src="img/WhoIAm.jpg" alt="Who I Am" /> -->
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque viverra orci, sed pretium odio accumsan eget. Etiam lacinia, magna nec aliquet. <href="#">Read More...</a></p>
            </section>

<!--             <section id="sponsors"> -->
<!--                 <h3> Sponsors</h3> -->
<!--                 <ul> -->
<!--                     <li> -->
<!--                         <a href="#"> -->
<!--                             <img src="img/codecanyon.net" alt="CodeCanyon" /> -->
<!--                         </a> -->
<!--                     </li> -->
<!--                     <li> -->
<!--                         <a href="#"> -->
<!--                             <img src="img/themeforest.com" alt="ThemeForest" /> -->
<!--                         </a> -->
<!--                     </li> -->
<!--                 </ul> -->
<!--             </section> -->
        </aside>
    </div>

    <div id="footer-wrap">
        <footer>
        <section>
            <h3>Get a Free Quote</h3>
            <form action="" method="post">
                <input type="text" name="name" value="Your Name" />
                <input type="text" name="email" value="Your Email" />
                <textarea name="projectDetail"> Your Project Details. </textarea>
                <input type="text" name="timescale" value="Your Timescale" />

                <button> Submit! </button>
            </form>
        </section>
        <section>
            <h3> Recent Projects </h3>
            <ul>
                <li>
                    <a href="#">
                      <img src="http://lorempixum.com/400/200/technics" alt="Recent Project1" />
<!--                         <img src="img/recentProject1.jpg" alt="Recent Project" /> -->
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="http://lorempixum.com/400/200/technics" alt="Recent Project2" />
<!--                         <img src="img/recentProject2.jpg" alt="Recent Project" /> -->
                    </a>
                </li>
                <li>
                    <a href="#">
                      <img src="http://lorempixum.com/400/200/technics" alt="Recent Project3" />
<!--                         <img src="img/recentProject3.jpg" alt="Recent Project" /> -->
                    </a>
                </li>
                <li>
                    <a href="#">
                      <img src="http://lorempixum.com/400/200/technics" alt="Recent Project4" />
<!--                         <img src="img/recentProject4.jpg" alt="Recent Project" /> -->
                    </a>
                </li>
            </ul>

            <button> Portfolio </button>
        </section>
        <section>
            <h3> Twitter Stream </h3>
            <ul>
                <li>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque viverra orci, sed pretium odio accumsan eget. Etiam lacinia, magna nec aliquet. <span> <a href="#"> 5 Hours Ago </a>, via Tweetdeck. </span></p>
                </li>
                <li>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque viverra orci, sed pretium odio accumsan eget. Etiam lacinia, magna nec aliquet. <span> <a href="#"> 5 Hours Ago </a>, via Tweetdeck. </span></p>
                </li>
                <li>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque viverra orci, sed pretium odio accumsan eget. Etiam lacinia, magna nec aliquet. <span> <a href="#"> 5 Hours Ago </a>, via Tweetdeck. </span></p>
                </li>
            </ul>

            <button> Follow Us </button>
        </section>

        </footer>
    </div>

    <div id="siteInfo">
        <p>Copyright '10' -- Tech Addict Blog -- All Rights Reserved</p>
        <nav>
            <ul>
                <li>
                    <a href="#">HOME</a>
                </li>
                <li>
                    <a href="#">ABOUT</a>
                </li>
                <li>
                    <a href="#">PORTFOLIO</a>
                </li>
                <li>
                    <a href="#">BLOG</a>
                </li>
                <li>
                    <a href="#">CONTACT</a>
                </li>
            </ul>
        </nav>
    </div>


</body>
</html>
