<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">

    <link href="site_media/css/reset.css" rel="stylesheet" />
    <link href="site_media/css/960_24_col.css" rel="stylesheet" />
    <link href="site_media/css/text.css" rel="stylesheet" />
    <link rel="stylesheet" href="site_media/css/style.css" />

    <!--Add google font Oswald -->
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

    <title>Tech Addiction</title>
</head>

<body id="content">
    <div id="header" class="container_24" >
    {% block header %}{% endblock %}
    <h1> <a href="#"> Tech Addiction </a> </h1>
        <h3> Jason Tsao's Portal for All Things Tech... </h3>

        <!--<div id="featured">-->
            <!--<img src="http://lorempixum.com/800/200/technics" alt="Featured" />-->
        <!--</div>-->

        <div id="top_bar" class="rounded">
            <nav class="grid_17">
                <ul>
                    <li>
                        <a href="#" class="selected">HOME</a>
                    </li>
                    <li>
                        <a href="#">ABOUT</a>
                    </li>
                    <li>
                        <a href="#">PORTFOLIO</a>
                    </li>
                    <li>
                        <a href="#">BLOG</a>
                    </li>
                    <li>
                        <a href="#">CONTACT</a>
                    </li>
                </ul>
            </nav>

            <!--<menu>-->
                <!--<ul id="headSocial">-->
                    <!--<li>-->
                        <!--<a href="#">-->
<!--    [>                         <img src="img/icons/facebook.png" alt="Facebook" /> <]-->
                          <!--<img src="http://lorempixum.com/35/35" alt="Facebook" />-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#">-->
<!--    [>                         <img src="img/icons/dribble.png" alt="Dribble" /> <]-->
                            <!--<img src="http://lorempixum.com/35/35" alt="Dribble" />-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--<img src="http://lorempixum.com/35/35" alt="Twitter" />-->
<!--    [>                         <img src="imgs/icons/twitter.png" alt="Twitter" /> <]-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--<img src="http://lorempixum.com/35/35" alt="Flickr" />-->
<!--    [>                         <img src="imgs/icons/flickr.png" alt="Flickr" /> <]-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</menu>-->

                <form action="" method="get" class="grid_7">
                    <p>
                        Search: <input type="text" name="search" value="" id="search" placeholder="Search"/>
                    </p>
                </form>
        </div>
        <!--</header>-->
    </div>

    <!--<div id="banner-wrap">-->
        <!--<div id="banner" class="container_24">-->
            <!--<h2> WELCOME TO MY SITE </h2>-->
            <!--<div id="featured">-->
              <!--<img src="http://lorempixum.com/800/200/technics" alt="Featured" />-->
                <!--<img src="img/featuredImg1.jpg" alt="Featured" />-->
                <!--<img src="img/featureImg2.jpg" alt="Featured" />-->
            <!--</div>-->

            <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque viverra orci, sed pretium odio accumsan eget. Etiam lacinia, magna nec aliquet.</p>-->
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque viverra orci, sed pretium odio accumsan eget. Etiam lacinia, magna nec aliquet.</p>-->

            <!--<button> Learn More </button>-->
            <!--<button> Our Work </button>-->

        <!--<p id="breadcrumbs">You're here: <a href="#">Home</a> > <a href="#"> Welcome </a> </p>-->
        <!--</div>-->

    <!--</div> [> end banner-wrap <]-->

    <div id="main" class="container_24 rounded">
        <div id="primary" class="grid_17">

            {% for post in results %}
            <article class="rounded">
                <h2>
                    <!--<a href="#"> Blog Post Name Here</a>-->
                    <a href="#">{{ post.title }}</a>
                    <!--<h6> August 4th, 2011 | <a href="#">10 Comments</a></h6>-->
                    <h6> {{post.published}} | <a href="#">10 Comments</a></h6>
                    <img src="http://lorempixum.com/660/200/technics" alt="Blog Post Title" align="middle"/>
<!--                     <img src="post-image.jpg" alt="Blog Post Title" /> -->
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque viverra orci, sed pretium odio accumsan eget. Etiam lacinia, magna nec aliquet. <href="#"> Continue Reading </a> </p> -->
                <p> {{post.body}}<p>
                <href="#"> Continue Reading </a>
                </h2>
            </article>
            {% endfor %}

            <!--<article>-->
                <!--<h2>-->
                    <!--<a href="#"> Blog Post Name Here</a>-->
                    <!--<h6> August 4th, 2011 | <a href="#">10 Comments</a></h6>-->
                    <!--<img src="http://lorempixum.com/600/200/technics" alt="Blog Post Title" />-->
<!--[>                     <img src="post-image.jpg" alt="Blog Post Title" /> <]-->
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque viverra orci, sed pretium odio accumsan eget. Etiam lacinia, magna nec aliquet. <href="#"> Continue Reading </a> </p> -->
                <!--</h2>-->
            <!--</article>-->

            <!--<article>-->
                <!--<h2>-->
                    <!--<a href="#"> Blog Post Name Here</a>-->
                    <!--<h6> August 4th, 2011 | <a href="#">10 Comments</a></h6>-->
                    <!--<img src="http://lorempixum.com/600/200/technics" alt="Blog Post Title" />-->
<!--[>                     <img src="post-image.jpg" alt="Blog Post Title" /> <]-->
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque viverra orci, sed pretium odio accumsan eget. Etiam lacinia, magna nec aliquet. <href="#"> Continue Reading </a> </p> -->
                <!--</h2>-->
            <!--</article>-->
        </div>
        <aside id="secondary" class="grid_6 prefix_1">
            <section>
                <h3>Who I am </h3>
                <img src="http://lorempixum.com/150/150/nightlife" alt="Who I Am" />
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
                scelerisque viverra orci, sed pretium odio accumsan eget. Etiam lacinia,
                magna nec aliquet. <a href="#">Read More...</a></p>
            </section>

           <ul id="tabHeadings">
               <li>
                   <a href="#comments">Comments</a>
               </li>
               <li>
                   <a href="#categories">Categories</a>
               </li>
               <li>
                   <a href="#archives">Archives</a>
               </li>
           </ul>

           <section class="tabs rounded">
            <ul id="comments">
                <ul>
                    <li>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque viverra orci, sed pretium odio accumsan eget. Etiam lacinia, magna nec aliquet.</p>
                        <h6>POSTED BY: <a href="#">Someone</a> </h6>
                    </li>

                    <li>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque viverra orci, sed pretium odio accumsan eget. Etiam lacinia, magna nec aliquet.</p>
                        <h6>POSTED BY: <a href="#">Someone</a> </h6>
                    </li>
                </ul>
            </ul>

            <h4> Categories </h4>
            <ul id="categories">
                <li>
                    <a href="#">Category</a>
                </li>
                <li>
                    <a href="#">Category</a>
                </li>
                <li>
                    <a href="#">Category</a>
                </li>
                <li>
                    <a href="#">Category</a>
                </li>
                <li>
                    <a href="#">Category</a>
                </li>
                <li>
                    <a href="#">Category</a>
                </li>
            </ul>

            <h4>Archives</h4>
            <ul id="archives">
                <li>
                    <a href="#">Archive</a>
                </li>
                <li>
                    <a href="#">Archive</a>
                </li>
                <li>
                    <a href="#">Archive</a>
                </li>
                <li>
                    <a href="#">Archive</a>
                </li>
                <li>
                    <a href="#">Archive</a>
                </li>
                <li>
                    <a href="#">Archive</a>
                </li>
            </ul>
            </section>


<!--             <section id="sponsors"> -->
<!--                 <h3> Sponsors</h3> -->
<!--                 <ul> -->
<!--                     <li> -->
<!--                         <a href="#"> -->
<!--                             <img src="img/codecanyon.net" alt="CodeCanyon" /> -->
<!--                         </a> -->
<!--                     </li> -->
<!--                     <li> -->
<!--                         <a href="#"> -->
<!--                             <img src="img/themeforest.com" alt="ThemeForest" /> -->
<!--                         </a> -->
<!--                     </li> -->
<!--                 </ul> -->
<!--             </section> -->
        </aside>
    </div>

    <div id="footer-wrap">
        <div id="footer" class="container_24 rounded"">
        <section class="grid_8">
            <h3>Read it Later Sites</h3>
            <ul>
                <li>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque viverra orci, sed pretium odio accumsan eget. Etiam lacinia, magna nec aliquet. <span> <a href="#"> 5 Hours Ago </a>, via Tweetdeck. </span></p>
                </li>
                <li>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque viverra orci, sed pretium odio accumsan eget. Etiam lacinia, magna nec aliquet. <span> <a href="#"> 5 Hours Ago </a>, via Tweetdeck. </span></p>
                </li>
                <li>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque viverra orci, sed pretium odio accumsan eget. Etiam lacinia, magna nec aliquet. <span> <a href="#"> 5 Hours Ago </a>, via Tweetdeck. </span></p>
                </li>
            </ul>

            <button> See more </button>
        </section>
        <section class="grid_8" id="recentProjects">
            <h3> Recent Projects </h3>
            <ul>
                <li>
                    <a href="#">
                      <img src="http://lorempixum.com/100/100/technics" alt="Recent Project1" />
<!--                         <img src="img/recentProject1.jpg" alt="Recent Project" /> -->
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="http://lorempixum.com/100/100/technics" alt="Recent Project2" />
<!--                         <img src="img/recentProject2.jpg" alt="Recent Project" /> -->
                    </a>
                </li>
                <li>
                    <a href="#">
                      <img src="http://lorempixum.com/100/100/technics" alt="Recent Project3" />
<!--                         <img src="img/recentProject3.jpg" alt="Recent Project" /> -->
                    </a>
                </li>
                <li>
                    <a href="#">
                      <img src="http://lorempixum.com/100/100/technics" alt="Recent Project4" />
<!--                         <img src="img/recentProject4.jpg" alt="Recent Project" /> -->
                    </a>
                </li>
            </ul>

            <button> Portfolio </button>
        </section>
        <section class="grid_8">
            <h3> Twitter Stream </h3>
            <ul>
                <li>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque viverra orci, sed pretium odio accumsan eget. Etiam lacinia, magna nec aliquet. <span> <a href="#"> 5 Hours Ago </a>, via Tweetdeck. </span></p>
                </li>
                <li>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque viverra orci, sed pretium odio accumsan eget. Etiam lacinia, magna nec aliquet. <span> <a href="#"> 5 Hours Ago </a>, via Tweetdeck. </span></p>
                </li>
                <li>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque viverra orci, sed pretium odio accumsan eget. Etiam lacinia, magna nec aliquet. <span> <a href="#"> 5 Hours Ago </a>, via Tweetdeck. </span></p>
                </li>
            </ul>

            <button> Follow Us </button>
        </section>

        <!--</footer>-->
        </div>
    </div>

    <div id="siteInfo" class="container_24">
        <p>Copyright '11' -- Tech Addiction -- All Rights Reserved</p>
        <nav class="grid_17">
            <ul>
                <li>
                    <a href="#">HOME</a>
                </li>
                <li>
                    <a href="#">ABOUT</a>
                </li>
                <li>
                    <a href="#">PORTFOLIO</a>
                </li>
                <li>
                    <a href="#">BLOG</a>
                </li>
                <li>
                    <a href="#">CONTACT</a>
                </li>
            </ul>
        </nav>
    </div>


</body>
</html>
